/* movies-form.component.css */

.container.forget-password {
  margin-top: 50px;
}

.panel.panel-default {
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.panel-body {
  text-align: center;
}

.text-center {
  margin-bottom: 20px;
}

.form-group,
.input-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.card-img-top {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mb-2 {
  margin-bottom: 20px;
}

.btn-secondary {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: #218838;
}

/* Add your specific styles here */
